<app-nav-bar></app-nav-bar>
<h1>Create a New Recipe</h1>

<form (ngSubmit)="createRecipe()" [formGroup]="recipeForm">

  <input type="text" placeholder="Name" formControlName="recipeName"><br>
  <p *ngIf="recipeNameInput.invalid && recipeNameInput.touched">Name is required.</p>

  <input type="text" placeholder="Calories" formControlName="calories"><br>
  <p *ngIf="caloriesInput.invalid && caloriesInput.touched">Calories is required.</p>

  <textarea placeholder="Description" formControlName="description"></textarea><br>

  <select formControlName="foodTypeName">
    <option value="" selected disabled hidden>Select FoodType</option>
    <!-- Loop through the foodType array and create options -->
    <option *ngFor="let type of foodType" [value]="type.foodTypeName">{{ type.foodTypeName }}</option>
  </select><br>

  <button type="submit" [disabled]="recipeForm.invalid">Create Recipe</button>
  <div [style.color]="messageColor">{{ message }}</div>
</form>