<div class="gn-container">
    <div class="login">
      <h1>Login</h1>
  
      <form (ngSubmit)="login()" [formGroup]="loginForm">
          <label>Email:</label>
          <input type="email" placeholder="Email..." formControlName="email" />
          <label>Password:</label>
          <input type="password" placeholder="Password..." formControlName="password" />
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
      <p class="error-msg">{{externalErrorMsg}}</p>
  
      <p>Don't have an account? <a [routerLink]="['']">Create new account</a></p>
    </div>
  </div>
  