<app-nav-bar></app-nav-bar>

<div class="content">
  <h1>Easy Dishes to cook </h1>
  <div class="blog-post">
    <img src="assets/images/Delicious-Pasta-Recipe.jpeg" alt="Recipe Image 1" class="home-image">
    <h2>1. Delicious Pasta Recipe</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac est vel quam fringilla venenatis. Maecenas vitae enim a turpis ultrices vehicula.</p>
  </div>

  <div class="blog-post">
    <img src="assets/images/Healthy-Salad-Bowl.jpeg" alt="Recipe Image 2" class="home-image">
    <h2>2. Healthy Salad Bowl</h2>
    <p>Quisque ut feugiat sapien. Aliquam erat volutpat. Integer vestibulum nisl ac dui ullamcorper, at vulputate metus euismod.</p>
  </div>
</div>

<footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>Subscribe to Our Newsletter</h3>
        <form class="subscribe-form">
          <input type="email" placeholder="Your Email" />
          <button type="submit">Subscribe</button>
        </form>
      </div>
  
      <div class="footer-section">
        <h3>Contact Us</h3>
        <p>Email: info@recipe_book.com</p>
        <p>Phone: +968 6499 6499</p>
      </div>
    </div>
  
    <p>&copy; 2023 Mohammed Al Adhary. All rights reserved.</p>
  </footer>
