<app-nav-bar></app-nav-bar>
<div class="centered-column">

<div class="foodType-card">
    <h2>Food Type Details</h2>
  {{foodType.foodTypeName}}<br>
  <!-- <button (click)="updateFoodType()">Update</button> -->
  <button (click)="deleteFoodType()">Delete</button>
</div>

<div class="foodType-card">
  <h2>Recipes:</h2>
  <ol>
  <div *ngFor="let recipe of foodType.recipes" >
      <li>
        <a [routerLink]="['/recipes', recipe.recipeId]"> {{recipe.recipeName}}</a>
      </li>
    </div>
  </ol>
</div>

</div>