<div class="gn-container">
    <div class="signup">
        <h1>Welcome to Recipe Book</h1>
        <h2>Sign Up</h2>

        <form (ngSubmit)="signup()" [formGroup]="registerForm">

            <label>Name:</label>
            <input type="text" placeholder="Username" formControlName="name" />
            <p *ngIf="nameInput.invalid && nameInput.touched">Name must be more then 3 characters</p>

            <label>Password:</label>
            <input type="password" placeholder="Password..." formControlName="password" />
            <p *ngIf="passwordInput.invalid && passwordInput.touched">password must be more then 7 characters</p>

            <label>Email:</label>
            <input type="email" placeholder="Email..." formControlName="email" />
            <p *ngIf="emailInput.invalid && emailInput.touched">email must be in email format</p>

            <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>

        </form>

        <p>Already have an account? <a [routerLink]="['']">Login</a></p>
    </div>
</div>
