<app-nav-bar></app-nav-bar>

<div class="centered-column">
  <div *ngFor="let recipe of recipeDetails" class="recipe-card">
    <h2>Recipe Details</h2>
    <h2>Name:</h2>
    <p>{{ recipe.recipeName }}</p>
    <h2>Calories:</h2>
    <p>{{ recipe.calories }}</p>
    <h2>Description:</h2>
    <p>{{ recipe.description }}</p>

    <!-- <h2>Food Type Name:</h2> -->
    <!-- <p>{{ recipe.foodType.foodTypeName }}</p> -->

    <div class="recipe-buttons">
      <!-- Button to update -->
      <button (click)="startUpdate(recipe)">Update</button>

      <!-- Button to delete -->
      <button (click)="deleteRecipe(recipe.recipeId)">Delete</button>
    </div>
  </div>

  <!-- Update Popup -->
  <div *ngIf="isUpdating" class="update-popup">
    <h2>Update Recipe</h2>
    <label>Name:</label>
    <input type="text" [(ngModel)]="updatedRecipe.recipeName" />
    <label>Calories:</label>
    <input type="number" [(ngModel)]="updatedRecipe.calories" />
    <label>Description:</label>
    <textarea [(ngModel)]="updatedRecipe.description"></textarea>
    <button (click)="updateRecipe()">Save</button>
    <button (click)="cancelUpdate()">Cancel</button>
  </div>