<app-nav-bar></app-nav-bar>
<div class="centered-column">
    <div *ngFor="let foodType of foodType" class="foodType-card">
      <h2>{{ foodType.foodTypeName }}</h2>
      <img src="assets/images/foodType.jpeg" alt="{{ foodType.foodTypeName }}" class="foodType-image">
      <!-- <app-recipe-list [data]="selectedFoodType"></app-recipe-list> -->

      <!-- Buttons for update and delete -->
      <div class="recipe-buttons">
        <!-- Button to update -->
        <button>Update</button>
        <!-- <button (click)="startUpdate(recipe)">Update</button> -->
  
        <!-- Button to delete -->
        <button (click)="deleteFoodType(foodType.foodTypeId)">Delete</button>
      </div>
    </div>
  </div>